.pager
{
	height: 30px;
	line-height: 29px;
	padding-right:10px;
}
.pager tr td{ border:none;}
.pager a
{
	margin: 2px;
	padding: 2px 5px;
	border: 1px solid #dddddd;
	text-decoration: none;
	color:#000000;
}
.pager a:hover
{
	border: 1px solid #999999;
	color: #666666;
}
.pager A:active
{
	border: 1px solid #999999;
	color: #666666;
}
.pager .cpb
{
	margin: 2px;
	padding: 2px 5px;
	border: 1px solid #FE9B1B;
	font-weight: bold;
	color: #ffffff;
	background-color: #FE9B1B;
}
.pager td span
{
	color: Red;
}
.pagecount
{
	color: Red;
}
.custominfoclass
{
	padding-right: 5px;
	padding-top: 5px;
	width: auto;
}
