.sort-table {
    font:12px "ו";
    color:#3d3d3d;
    text-decoration: none;	
	border: 1px solid #777568;
}

.sort-table thead {
	padding:3px 0 0 5px;
	border-bottom: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
	
}

.sort-table td {
	padding:3px 0 0 5px;
	border-top: 1px solid #F8B64A;
	border-left: 1px solid #F8B64A;
	border-bottom: 1px solid #F8B64A;
	border-right: 1px solid #F8B64A;
	
}
.sor-table td .hold{
	padding:0 0 0 0;
}
.sort-table thead td {
	cursor:	default;
}

.sort-table thead td:active {
	padding:3px 4px 1px 6px;
}

.sort-table thead td[_sortType=None]:active {
	padding:2px 5px;
}

.sort-arrow {
	width:0;
	height:0;
	background-repeat:no-repeat;
	margin:2px;
}

.sort-arrow.descending {
	width:8px;
	height:7px;
	marginwidth:3px;	
	background-image:url("../images/downsimple.png");
}

.sort-arrow.ascending {
	width:8px;
	height:7px;
	marginwidth:3px;	
	background-image:url("../images/upsimple.png");
}

.hold-table{
	border:0;
    font:12px "ו";
    color:#3d3d3d;
}

.hold-table thead {
	padding:3px 0 0 5px;
	border-bottom: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
	height:25px;
}

.hold-table td {
	padding:0px 0 0 0px;
	border-top: 1px solid #FEEBC9;
	border-left: 1px solid #FEEBC9;
	border-bottom: 1px solid #FEEBC9;
	border-right: 1px solid #F8B64A;
	height:25px;
}

.hold-table thead td {
	cursor:	default;
}

.hold-table thead td:active {
	padding:3px 4px 1px 6px;
}

.hold-table thead td[_sortType=None]:active {
	padding:2px 5px;
}


.sort-table-print {
    font:12px "ו";
    color:#3d3d3d;
    text-decoration: none;	
	  border: 1px solid #000000;
}

.sort-table-print thead {
	padding:3px 0 0 5px;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	
}

.sort-table-print td {
	padding:3px 0 0 5px;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	
}
.sor-table td .hold{
	padding:0 0 0 0;
}
.sort-table-print thead td {
	cursor:	default;
}

.sort-table-print thead td:active {
	padding:3px 4px 1px 6px;
}

.sort-table-print thead td[_sortType=None]:active {
	padding:2px 5px;
}