table{border-collapse: collapse;}
.maintable td{border: 1px solid #feebc9;text-align: left;padding: 5px; color:#444; line-height:20px}
.maintable th{background: #fdedd0;border: 1px solid #feebc9;border-top: 1px solid #f9d37f;line-height:25px;text-align: center;padding: 5px; color:#444;}
.maintable th a{color:#444;}
.maintable .tdcenter{text-align:center}
body, form, table, div, span, ul, li, input, select, p{font-size: 12px;padding: 0px;margin: 0px;font-family: Verdana, Arial, "Courier New" , "ו";}
h1, h2, h3, h4, h5{padding: 0px;margin: 0px;}
body{color: #808080;}
ul{list-style: none;}
img{border: none;}
.btnBg{background: url(../images/btnbg.gif) no-repeat; width:72px; height:20px; color:#395366; border:0;}
a{text-decoration: none;color: #444;}
a:hover{text-decoration: underline;color: #f60;}
.loginTop {background: url(../images/loginTop.gif) repeat-x; height: 41px}
.syslogin{ background: url("../images/loginBg.gif") repeat-x 0 0 #aec8ad;height: 534px;}
.loginLeft{background: url(../images/login-content-bg.gif) no-repeat right 66px;width:50%;height: 100%; float:left;}
.loginLogo{ color:#7A7B7B; line-height:24px; font-size:12px; background: url(../images/logo.png) no-repeat 0 196px;width:240px;height:150px; float:right; padding:260px 30px 0 0;}
.loginLogo li{background: url(../images/dot.gif) no-repeat left center; padding-left:10px;}
.loginRight{background: url(../images/login-wel.gif) no-repeat right 557px;width:45%;height: 95%; float:left;}
.loginTable{width: 350px;height: 200px;float:left; padding:200px 0 0 40px;}
.txts{width: 180px;border: 1px solid #95A1B6;line-height: 20px;height: 20px;}
.txtscode{width: 78px;border: 1px solid #95A1B6;line-height: 20px;height: 20px;}
.copyright{line-height: 20px;text-align: center;font-size: 10px;color: #93A1AB; clear:both;background: url("../images/loginBottom.gif") repeat-x 0 0;}
.copyright2{background: url(../images/buttom-bg.gif) repeat-x 0 bottom;text-align: center; font-size: 10px;color: #93A1AB;height: 20px; padding:34px 0 0 0; line-height:20px;}
.btncss{border: medium none;background-image: url(../images/loginbtn.gif);width: 78px;height: 29px;margin-top: 5px;cursor: pointer;}
.top{height: 64px;background: url(../images/top-bg.gif) repeat-x 0 bottom #24411a;}
.top .ico{width: 300px;float: left;}
.topright{float: right; color:#fff; padding:15px 20px 0 0;}
.topright a{color:#fff;}
.clearfloat{clear: both;}
.main{background:#edfaed;}
.mainleft{width: 198px;float: left;height: 100%;overflow-y: scroll;background:url(../images/menu_top.gif) no-repeat 0 0; padding-top:3px;}
.mainleft ul{background:#fff;}
.mainleft a{color: #444;}
.mainleft a:hover{color: #444;}
.mainright{float: right;height: 100%;overflow-y: auto; background:#fff;}
.systeminfo{ padding:0 10px;}
.systeminfo th{padding-left: 10px;line-height: 20px;font-family: Verdana, Arial, "Courier New"; color:Black}
.systeminfoline{height: 35px;line-height: 35px;border-bottom: #99ad90 solid 3px;padding-left: 28px;font-weight: bold;margin-bottom: 10px;background: url(../images/ico02.gif) no-repeat 0px 5px;}
.systitleline{height: 45px;line-height: 45px;font-weight: bold;}
.add{border-bottom: 1px solid #E2EEE1;}
.mainleft a:hover{text-decoration: none;}
.collapse{line-height: 27px;background: #fff url(../images/menu_bg.gif) repeat-x 0 bottom;display: block;text-align: left;color: #444444; padding-left:40px;cursor: pointer;font-size: 14px;font-weight: bold;}
ul.leftSubMenu {background: url(../images/topline.gif) no-repeat right 0; padding:5px 0 0 0;}
.leftSubMenu li{padding-left: 60px;line-height: 26px;color: #444;text-align: left;background: url(../images/menu_bg1.gif) no-repeat 0 0;}
.leftSubMenu li:hover{color: #444;text-decoration: none;background:url(../images/menu_bg2.gif) no-repeat 0 0;}
.menudown{background: url(../images/menu_down.gif) no-repeat right 0; height:2px;}
.btn{background:url(/images/btn_2.jpg) no-repeat; width:51px; height: 20px; line-height:20px; color:White; border:0px; vertical-align:middle}
.btn70{background:url(/images/btn_21.jpg) no-repeat; width:70px; height: 20px; line-height:20px; color:White; border:0px; vertical-align:middle}
.btn80{background:url(/images/btn_22.jpg) no-repeat; width:110px; height: 20px; line-height:20px; color:White; border:0px; vertical-align:middle}
.tabletxt,.datebox{width: 90%;font-size: 12px;line-height: 1.05em;color: #808080;padding: 7px 8px;margin: 0;font-family: Arial, Helvetica, sans-serif;border: 1px solid #e4e4e4; background: #fff;outline: none;}
.t_textarea {float:left;height:195px; width:100%; font-size:12px; line-height:1.25em;color:#808080;padding:9px 8px; margin:0; font-family:Arial, Helvetica, sans-serif; border:1px solid #e4e4e4;background:#fff;overflow:auto;outline:none;}
.t_tabletxt{width: 90%;font-size: 12px;line-height: 1.05em;color: #808080;padding: 7px 8px;margin: 0;font-family: Arial, Helvetica, sans-serif;border: 1px solid #e4e4e4; background: #fff;outline: none;}
