td { font-family: "宋体"; 
	font-size: 9pt;
	COLOR: #000000;
	line-height:140%;} 
td a{ font-family: "宋体"; 
	font-size: 9pt;
	COLOR: #000000;
	TEXT-DECORATION: none; } 
input { font-size: 9pt} 
p { font-size: 9pt} 
br { font-size: 9pt} 
tr { font-size: 9pt} 
table { font-size: 9pt} 
body { font-family: "宋体",	"serif"; 
	font-size: 9pt height:expression(document.body.clientHeight-5); 
	overflow: auto; 
	margin-top: 0px; 
	margin-left: 0px; 
	margin-right: 0px; 
	scrollbar-face-color: buttonface; 
	scrollbar-highlight-color: #ffffff; 
	scrollbar-3dlight-color: #ffffff; 
	scrollbar-darkshadow-color: darkgray; 
	scrollbar-shadow-color: white; 
	scrollbar-arrow-color: #000000; 
	scrollbar-track-color: #f1f1f1; 
	BORDER-RIGHT: #C3C3C3 1px solid; 
	BORDER-LEFT: #FFFFFF 0px solid;} 
.bigfont1 td{
	font-family: "宋体"; 
	font-size: 11pt; color: #8682E4;font-weight: bold;} 
.bigfont1 td a{font-family: "宋体"; 
				font-size: 11pt; 
				color: #8682E4;
				font-weight: bold;} 
.dotline td { font-family: "宋体"; 
				font-size: 9pt;COLOR: #000000;
				line-height:140%;
				PADDING-LEFT:5px;
				PADDING-top:5px;
				BORDER-BOTTOM:#cacaca 1px dotted;} 
.dotline td a{ font-family: "宋体"; 
				font-size: 9pt;
				COLOR: #0500FF;
				TEXT-DECORATION: none;
				PADDING-LEFT: 5px;
				PADDING-top:5px; } 
.tab td { font-family: "宋体"; 
			font-size: 9pt;COLOR: #000000;
			line-height:140%;
			PADDING-LEFT:5px;
			BORDER-BOTTOM:#C0BFDF 1px solid;
			BORDER-right:#C0BFDF 1px solid;} 
.tab td a{ font-family: "宋体"; 
			font-size: 9pt;
			COLOR: #0500FF;
			TEXT-DECORATION: none;
			PADDING-LEFT: 5px; } 
.t1 { FONT-SIZE: 12px; 
		color: #000000; 
		background-image: url(../images/t1bg.jpg);
		BORDER-top:#B5B3EB 1px solid;
		BORDER-bottom:#B5B3EB 1px solid;} 
.t1 a{ color: #000000; 
		background-image: url(../images/t1bg.jpg);} 
.editno { color: #808080; 
			font-size: 9pt; 
			background-color: #f1f1f1; 
			border: 1px solid #d4d4d4;} 
.menu TD {BACKGROUND-COLOR:#CDDEF8;
			FONT-SIZE: 12px; 
			color: #000000;
			PADDING-TOP:0px;
			PADDING-left: 0px;
			PADDING-bottom:0px;} 
.menu TD A {BACKGROUND-IMAGE: url(../images/btnbg0.gif); 
			BORDER-BOTTOM: #89898F 1px solid; 
			BORDER-LEFT: #CDDEF8 1px solid; 
			BORDER-RIGHT: #89898F 1px solid; 
			BORDER-TOP: #CDDEF8 1px solid; 
			COLOR: #000000;TEXT-DECORATION: none; 
			WIDTH: 100%;
			CURSOR: hand;valign="middle";
			PADDING-TOP:3px;
			PADDING-left: 6px;
			PADDING-right:6px;
			PADDING-bottom:2px;} 
.menu TD A:hover {BACKGROUND-COLOR:#f1f1f1;
					BORDER-BOTTOM: #CDDEF8 1px solid; 
					BORDER-LEFT: #89898F 1px solid; 
					BORDER-RIGHT: #CDDEF8 1px solid; 
					BORDER-TOP: #89898F 1px solid;
					TEXT-DECORATION: none;
					COLOR: #000000;
					PADDING-TOP:3px;
					PADDING-left:6px;
					PADDING-right: 6px;
					PADDING-bottom:2px;} 